# local project settings
ytools.pro.user

# directories
Debug
Release
Profile

# Compiled Object files
*.o

# Executables


# Backup css, text and html files
*.css~
*.html~
*.text~

# autosaves
*.autosave